<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
</head>

<body>
  <h1>PLANT HELPLINE</h1>
  <h2>The date and time on the server is: {{ time }}</h2>
  <h2> {{ text }} </h2>
  <a href="/auto/water/ON"><button>Turn ON Auto Watering</button></a>
  <a href="/auto/water/OFF"><button>Turn OFF Auto Watering</button></a>
  <a href="/sensor"><button>Check Soil Status</button></a> <br>
  <a href="/water"><button>Water Once</button></a>
  <a href="/last_watered"><button>Check Time Last Watered</button></a>

</body>
</html>
